@page
@model Restaurant_page.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_RestaurantPagesLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="articles">
    @foreach (var menuItem in Model.MenuItems)
     {
     <article class="article">
      <img src="@Url.Content(menuItem.Image)" alt="@menuItem.Image" />
      <h3><a asp-page="/Menu" asp-route-id="@menuItem.MenuID">@menuItem.Name</a></h3>
      <h2>@menuItem.Price.ToString("C")</h2>
      <p>@menuItem.Description</p>
      </article>
      }
      </div>


