@page
@model Restaurant_page.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_RestaurantPagesLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Restaurant_page
@inject UserManager<ApplicationUser> UserManager

<div class="arrival">
    @if (Model.Arrival == "payment")
    {
        <p>Payment recieved for order.</p>
    }
    else if (Model.Arrival == "contact")
    {
        <p>Your message has been sent.</p>
    }
    else if (Model.Arrival == "logout")
    {
        <p>You have logged out.</p>
    }
    else if (Model.Arrival == "login")
    {
        <p class="greeting">Hello @UserManager.GetUserName(User)</p>
    }
</div>
<div class="articles">
    @foreach (var menuItem in Model.MenuItems)
    {
            <article class="article">
                <img src="@Url.Content("/CO5227/" + menuItem.Image)" alt="picture of food: @menuItem.Image" />
                <h3><a asp-page="/Menu" asp-route-id="@menuItem.MenuID">@menuItem.Name</a></h3>
                <h2>@menuItem.Price.ToString("C")</h2>
                <p>@menuItem.Description</p>
            </article>
            }
    </div>


