@page "{id:int}"
@model Restaurant_page.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Pages/_RestaurantPagesLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Restaurant_page
@inject SignInManager<ApplicationUser> SignInManager

<h2>Menu</h2>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var menuItem in Model.MenuItems)
            {
                <tr>
                    <td><img src="@Url.Content("/" + menuItem.Image)" alt="@menuItem.Image" /></td>
                    <td>@menuItem.Name</td>
                    <td>@menuItem.Description</td>
                    <td>@menuItem.Price.ToString("C")</td>
                    <td>
                        <button type="submit" asp-page-handler="Buy" asp-route-id="@menuItem.MenuID">Add to Cart</button>
                    </td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <td>
                            <button type="submit" asp-page-handler="Buy" asp-route-id="@menuItem.MenuID">Add to Cart</button>
                        </td>
                    }
                    @if (SignInManager.IsSignedIn(User) == false)
                    {
                        <td><p>Please sign in to add Items to basket.</p></td>
                    }
                </tr>
            }
        </tbody>

    </table>
</form>
