@page "{id:int}"
@model Restaurant_page.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Pages/_RestaurantPagesLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Restaurant_page
@inject SignInManager<ApplicationUser> SignInManager

<h2 class="pagetitle">Menu</h2>

<div class="menupage">
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var menuItem in Model.MenuItems)
                {//the rootpath used for images uses backslash, this logic swaps those to forward slashes for HTML validation purposes.
                    string imagePath = "";
                    <tr>
                        @foreach (var letter in menuItem.Image)
                        {
                            var letterToUse = 'a';

                            if (letter == '\\')
                            {
                                letterToUse = '/';
                            }
                            else
                            {
                                letterToUse = letter;
                            }
                            imagePath += letterToUse;

                        }
                        <td><img src="@Url.Content("../" + imagePath)" alt="@imagePath" /></td>
                        <td>@menuItem.Name</td>
                        <td>@menuItem.Description</td>
                        <td>@menuItem.Price.ToString("C")</td>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <td>
                                <button type="submit" asp-page-handler="Buy" asp-route-id="@menuItem.MenuID">Add to Cart</button>
                            </td>
                        }
                        @if (SignInManager.IsSignedIn(User) == false)
                        {
                            <td><p>Please sign in to add Items to basket.</p></td>
                        }
                    </tr>
                }
            </tbody>

        </table>

    </form>
    <div class="backtomenu">
        <h3>Back to menu:</h3>
        <a asp-page="/OrderMenu">Menu</a>
    </div>
</div>
