@page
@model Restaurant_page.Pages.OrderMenuModel
@{
    ViewData["Title"] = "OrderMenu";
    Layout = "~/Pages/_RestaurantPagesLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Restaurant_page
@inject SignInManager<ApplicationUser> SignInManager


<h2 class="pagetitle">Menu</h2>
<div class="arrival">
    @if (Model.Arrival == "added")
    {
        <p>Item added to basket.</p>
    }
</div>
<div class="ordermenu">
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var menuItem in Model.MenuItems)
                {//the rootpath used for images uses backslash, this logic swaps those to forward slashes for HTML validation purposes.
                    string imagePath = "";
                    <tr>
                       
                        @foreach (var letter in menuItem.Image)
                        {
                            var letterToUse = 'a';
                            
                            if (letter == '\\'){
                                letterToUse = '/';
                            } else
                            {
                                letterToUse = letter;
                            }
                            imagePath += letterToUse;

                        }
                        <td><img src="@Url.Content(imagePath)" alt="@imagePath" /></td>
                        <td><a asp-page="/Menu" asp-route-id="@menuItem.MenuID">@menuItem.Name</a></td>
                        <td>@menuItem.Price.ToString("C")</td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <td>
                                <button type="submit" asp-page-handler="Buy" asp-route-id="@menuItem.MenuID">Add to Cart</button>
                            </td>
                        }
                        else
                        {
                            <td><p>Please sign in to add Items to basket.</p></td>
                        }
                    </tr>
                }
            </tbody>

        </table>
    </form>
</div>
